BASE_DOMAIN={{ base_domain }}
POSTGRES_IMAGE={{ images.postgres }}
AUTHENTIK_IMAGE={{ images.authentik }}
AUTHENTIK_DB_MEMORY_LIMIT={{ resource_limits.authentik_db.memory }}
AUTHENTIK_DB_PIDS_LIMIT={{ resource_limits.authentik_db.pids }}
AUTHENTIK_SERVER_MEMORY_LIMIT={{ resource_limits.authentik_server.memory }}
AUTHENTIK_SERVER_PIDS_LIMIT={{ resource_limits.authentik_server.pids }}
AUTHENTIK_WORKER_MEMORY_LIMIT={{ resource_limits.authentik_worker.memory }}
AUTHENTIK_WORKER_PIDS_LIMIT={{ resource_limits.authentik_worker.pids }}
PG_USER={{ database.authentik.user }}
PG_DB={{ database.authentik.name }}
PG_PASS={{ production_secrets.authentik.db_password }}
AUTHENTIK_SECRET_KEY={{ production_secrets.authentik.secret_key }}
AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_ALLOWED_EMAIL_DOMAIN={{ allowed_email_domain }}
AUTHENTIK_BASE_URL={{ authentik_base_url | default((app_public_scheme | default('https')) ~ '://login.' ~ base_domain) }}
AUTHENTIK_APP_SCHEME={{ app_public_scheme | default('https') }}
PLATFORM_ADMIN_EMAIL={{ platform_admin_email }}
GOOGLE_OAUTH_CLIENT_ID={{ google_oauth_client_id }}
GOOGLE_OAUTH_CLIENT_SECRET={{ production_secrets.google.client_secret }}
AUTHENTIK_INCLUDE_VEXA={{ authentik_include_vexa | default(true) | lower }}
AUTHENTIK_PASSWORD_LOGIN_ENABLED={{ authentik_password_login_enabled | default(false) | lower }}
AUTHENTIK_EMAIL__HOST={{ smtp_host if smtp_enabled else 'localhost' }}
AUTHENTIK_EMAIL__PORT={{ smtp_port if smtp_enabled else 25 }}
AUTHENTIK_EMAIL__USERNAME={{ smtp_username if smtp_enabled else '' }}
AUTHENTIK_EMAIL__PASSWORD={{ production_secrets.smtp.password | default('') if smtp_enabled else '' }}
AUTHENTIK_EMAIL__USE_TLS={{ smtp_use_tls | lower }}
AUTHENTIK_EMAIL__FROM={{ smtp_sender if smtp_enabled else '' }}
{% if services_authentik_first_install %}
AUTHENTIK_BOOTSTRAP_EMAIL={{ platform_admin_email }}
AUTHENTIK_BOOTSTRAP_PASSWORD={{ services_authentik_bootstrap_password }}
{% endif %}
