BASE_DOMAIN={{ base_domain }}
CADDY_IMAGE={{ images.caddy }}
CADDY_MEMORY_LIMIT={{ resource_limits.caddy.memory }}
CADDY_PIDS_LIMIT={{ resource_limits.caddy.pids }}
N8N_SSO_SECRET={{ production_secrets.sso.n8n }}
VEXA_SSO_SECRET={{ production_secrets.sso.vexa }}
ODOO_SSO_SECRET={{ production_secrets.sso.odoo }}
