POSTGRES_IMAGE={{ images.postgres }}
N8N_IMAGE={{ images.n8n }}
N8N_DB_MEMORY_LIMIT={{ resource_limits.n8n_db.memory }}
N8N_DB_PIDS_LIMIT={{ resource_limits.n8n_db.pids }}
N8N_MEMORY_LIMIT={{ resource_limits.n8n.memory }}
N8N_PIDS_LIMIT={{ resource_limits.n8n.pids }}
N8N_HOST=n8n.{{ base_domain }}
N8N_EDITOR_BASE_URL=https://n8n.{{ base_domain }}
N8N_PORT=5678
N8N_PROTOCOL=https
WEBHOOK_URL=https://hooks.{{ base_domain }}
N8N_ENCRYPTION_KEY={{ production_secrets.n8n.encryption_key }}
GENERIC_TIMEZONE=Europe/Berlin
TZ=Europe/Berlin
POSTGRES_USER={{ database.n8n.user }}
POSTGRES_PASSWORD={{ production_secrets.n8n.db_password }}
POSTGRES_DB={{ database.n8n.name }}
N8N_EMAIL_MODE={{ 'smtp' if smtp_enabled else '' }}
N8N_SMTP_HOST={{ smtp_host }}
N8N_SMTP_PORT={{ smtp_port }}
N8N_SMTP_USER={{ smtp_username }}
N8N_SMTP_PASS={{ production_secrets.smtp.password | default('') if smtp_enabled else '' }}
N8N_SMTP_SENDER={{ smtp_sender }}
N8N_SMTP_SSL={{ smtp_use_tls | lower }}
N8N_SECURE_COOKIE=true
N8N_PROXY_HOPS=1
AUTHENTIK_ALLOWED_EMAIL_DOMAIN={{ allowed_email_domain }}
PLATFORM_ADMIN_EMAIL={{ platform_admin_email }}
N8N_SSO_SECRET={{ production_secrets.sso.n8n }}
