POSTGRES_DB={{ database.odoo.name }}
POSTGRES_IMAGE={{ images.postgres }}
ODOO_IMAGE={{ images.odoo }}
ODOO_DB_MEMORY_LIMIT={{ resource_limits.odoo_db.memory }}
ODOO_DB_PIDS_LIMIT={{ resource_limits.odoo_db.pids }}
ODOO_MEMORY_LIMIT={{ resource_limits.odoo.memory }}
ODOO_PIDS_LIMIT={{ resource_limits.odoo.pids }}
ODOO_DATABASE={{ database.odoo.name }}
POSTGRES_USER={{ database.odoo.user }}
POSTGRES_PASSWORD={{ production_secrets.odoo.db_password }}
AUTHENTIK_ALLOWED_EMAIL_DOMAIN={{ allowed_email_domain }}
PLATFORM_ADMIN_EMAIL={{ platform_admin_email }}
ODOO_SSO_SECRET={{ production_secrets.sso.odoo }}
