N8N_IMAGE_TAG=2.1.1
N8N_HOST=n8n.180dc-escp.org
N8N_EDITOR_BASE_URL=https://n8n.180dc-escp.org
N8N_PORT=5678
N8N_PROTOCOL=https
WEBHOOK_URL=https://hooks.180dc-escp.org
N8N_ENCRYPTION_KEY=replace-me
GENERIC_TIMEZONE=Europe/Berlin
TZ=Europe/Berlin
POSTGRES_USER=n8n
POSTGRES_PASSWORD=replace-me
POSTGRES_DB=n8n
N8N_EMAIL_MODE=smtp
N8N_SMTP_HOST=
N8N_SMTP_PORT=587
N8N_SMTP_USER=
N8N_SMTP_PASS=
N8N_SMTP_SENDER=
N8N_SMTP_SSL=false
N8N_SECURE_COOKIE=true
N8N_TRUST_PROXY=true
AUTHENTIK_ALLOWED_EMAIL_DOMAIN=180dc.org
PLATFORM_ADMIN_EMAIL=escp@180dc.org
