PG_USER=authentik
PG_DB=authentik
PG_PASS=replace-me
AUTHENTIK_SECRET_KEY=replace-me
AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_EMAIL__HOST=localhost
AUTHENTIK_EMAIL__PORT=25
AUTHENTIK_EMAIL__USERNAME=
AUTHENTIK_EMAIL__PASSWORD=
AUTHENTIK_EMAIL__USE_TLS=false
AUTHENTIK_EMAIL__FROM=
AUTHENTIK_BOOTSTRAP_EMAIL=admin@example.org
AUTHENTIK_BOOTSTRAP_PASSWORD=replace-me
AUTHENTIK_BOOTSTRAP_TOKEN=replace-me
GOOGLE_OAUTH_CLIENT_ID=replace-me
GOOGLE_OAUTH_CLIENT_SECRET=replace-me
AUTHENTIK_BASE_URL=https://login.180dc-escp.org
