IMAGE_TAG=latest

DB_NAME=vexa
DB_USER=vexa
DB_PASSWORD=replace-me

ADMIN_TOKEN=replace-me
TRANSCRIPTION_SERVICE_URL=https://transcription.vexa.ai/v1/audio/transcriptions
TRANSCRIPTION_SERVICE_TOKEN=replace-me

STORAGE_BACKEND=local
LOG_LEVEL=info
AUTHENTIK_ALLOWED_EMAIL_DOMAIN=180dc.org
PLATFORM_ADMIN_EMAIL=escp@180dc.org
VEXA_SSO_MAX_CONCURRENT_BOTS=1
VEXA_SSO_TOKEN_SCOPES=bot,tx,browser
