POSTGRES_DB=student_society
ODOO_DATABASE=student_society
POSTGRES_USER=odoo
POSTGRES_PASSWORD=replace-me
ODOO_ADMIN_PASSWORD=replace-me
AUTHENTIK_ALLOWED_EMAIL_DOMAIN=180dc.org
PLATFORM_ADMIN_EMAIL=escp@180dc.org
