AUTHENTIK_DB_USER={{ database.authentik.user }}
AUTHENTIK_DB_NAME={{ database.authentik.name }}
N8N_DB_USER={{ database.n8n.user }}
N8N_DB_NAME={{ database.n8n.name }}
VEXA_DB_USER={{ database.vexa.user }}
VEXA_DB_NAME={{ database.vexa.name }}
ODOO_DB_USER={{ database.odoo.user }}
ODOO_DB_NAME={{ database.odoo.name }}
